


  <div class="container-fluid row">

    <div class="container-fluid col">
      <div class="float-left">
        <img [src]="miImagen" class="imgLogo" />
      </div><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <div class="float-left">
        <h1>Efrain Mejias C</h1>
        <h5> Desarrollador de Software </h5>
        <button id="download" class="btn btn-primary btnDownload" (click)="onDownLoadCV()"> Descargar CV</button>
      </div>
    </div>
    <br /><br />
    <div class="float-lg-right" style="font-size:14px;">
      <h3>Datos Personales</h3>
      <label>C.I:</label> V- 11346727<br />
      <label>Dirección:</label> Calle Bruzual 107-35, Urb: Don Bosco, Sector: Candelaria<br />
      <label>Venezuela - Carabobo - Valencia</label> <br />
      <hr />
      <h3> Formacion Profesional</h3>
      <label> TSU en Informática:</label> Instituto Universitario de Tecnología Antonio José de Sucre<br />
      <label> Ingeniero en Sistemas:</label> Universidad Politécnica Experimental de la Fuerza Armada (UNEFA)<br />
      <label> Docente Universitario:</label> Componente Docente en Competencias Educativas (UNEFA)<br />
      <hr />
      <h3> Contacto </h3>
      <label>Email: </label> <span> emcingenieriadesofware@outlook.com </span><br />
      <label>Skype: </label> <span> efrainmejiascastillo</span><br />
      <label>Tlf: </label> +5804244133677<br />
</div>

    <div class="container-flui" style="text-align:justify;margin-top:0%;">
      <hr />
      <h3>Experiencia Laboral</h3>
      <p>
        <label>Hispano Soluciones:</label>  Mayo 2017 - Actualidad. Desarrollador de Software <br />

        <label>KD-Soft: </label> Septiembre 2019 - Junio 2020. Desarrollador de Software<br />

        <label>Innova4J: </label> Noviembre 2018 - Agosto 2019. Desarrollador de Software <br />

        <label> Neuralnet System: </label> Marzo 2016 - Enero 2017. Analista - Programador <br />

        <label> Universidad Nacional Politécnica Experimental de la Fuerza Armada:</label> Abril 2014 - Mayo 2017. Docente Universitario <br />

        <label> Servicios y Suministros de Oriente SSO.CA:</label> Diciembre 2013 - Enero 2017. Desarrollador de Software <br />

        <label> Oficina Coordinadora de los Servicios Agroalimentarios OCSA:</label> Junio 2012 - Diciembre 2012. Analista de Sistemas OCSA<br />

        <label> Nippon Software.CA: </label> Agosto 2010 - Febrero 2012. Analista de Sistemas <br />

      </p>

      <hr />
      <h3> Habilidades </h3>
      <p>
        <label>Lenguajes de Programacion: </label> C# , Vb.Net <br />
        <label>Manejador de Base de Datos: </label> SqlServer, MySql <br />
        <label>Lenguajes de Script: </label> JavaScript, JQuery <br />
        <label>Arquitectura de Software: </label> .Net MVC, .Net Core, WebForms, WindowsForms<br />
        <label>Servicios Web: </label> Rest, Soap <br />
        <label>Herramientas de Programacion: </label> Linq, Linq To Sql, Stored Procedure<br />
        <label>Lenguaje de Marcado: </label> Html<br />
        <label>Estilos:</label> CSS<br />
        <label>Servicios Web:</label> Rest Full, Soap<br />
        <label>Modelado de Datos:</label> Uml <br />
      </p>

      <hr />
      <h3> Portafolio </h3>
      <p>
        <label>Bancor - Control- M  </label><br />
        Descripción: Aplicacion de consola para la gestion interna de consultas de una entidad bancaria<br />
        Tecnología: Plataforma .Net Core, Proyectos de consola<br />
        Tiempo: 4 meses <br /><br />

        <label>Bancor - Cliente Unico</label><br />
        Descripción: Aplicacion Web con arquitectura de microservicios<br />
        Tecnología: Plataforma .Net Core, Proyectos Web y de consola, JQuery<br />
        Tiempo: 3 meses <br /><br />

        <label>Facturación Electrónica: </label><br />
        Descripción: Aplicacion de biblioteca de clases para el consumo de Rest Api para la facturacion electronica y el pago de impuesto al gobierno de Costa Rica<br />
        Tecnología: Plataforma .Net C#, Proyecto de bibliotecas de clases<br />
        Tiempo: 8 meses <br /><br />

        <label>Social-Wifi</label><br />
        Descripción: Portal captivo con sitio web para marketing digital<br />
        Tecnología: Plataforma .Net Core, Proyecto de consola y Web , JQuery , Google Api's<br />
        Tiempo: 3 meses <br /><br />

        <label>Flora Nueva: </label><br />
        Descripción:Rest Api para ser consumida por aplicaciones moviles<br />
        Tecnología: Plataforma .Net C#, Web Api 2.0, SqlServer, Stored Procedure<br />
        Tiempo: 2 meses <br /><br />

        <label>Aprende Plus: </label><br />
        Descripción: Encriptacion y cifrado de datos para cursos de programacion online<br />
        Tecnología: Plataforma .Net WindowsForm<br />
        Tiempo: 10 semanas <br /><br />

        <label>Sudoku de Todos:</label><br />
        Descripción: Aplicacion de escritorio y sitio web de membresias para juego de sudoku<br />
        Tecnología: Plataforma .Net WindowsForm , WebForms, MVC, SqlServer, Lenguaje de programacion C#, JQuery<br />
        Tiempo: 6 meses <br /><br />

        <label>Cervix: </label> <br />
        Descripción: Aplicacion Web para lectura de archivos Excel y Cvs<br />
        Tecnología: Plataforma .Net WebForms , SqlServer, JavaScript<br />
        Tiempo: 5 semanas <br /><br />

        <label>Gestion de Ventas y Administrativas SSO: </label><br />
        Descripción: Aplicacion de escritorio con el objetivo de gestionar los procesos de compra y otras herramientas<br />
        Tecnología: Plataforma .Net WindowsForm , SqlServer, Lenguaje de programacion C#<br />
        Tiempo: 18 meses <br /><br />

        <label>Nomina OCSA: </label> <br />
        Descripción: Modelado y diseño de datos del sistema de nomina <br />
        Tecnología: Diagramas Uml<br />
        Tiempo: 8 semanas <br /><br />

      </p>

    </div>

  </div>







