
  <div class="container-fluid">
    <div class="float-left">
      <img [src]="logo" class="imgLogo" />
    </div>

    <div class="float-right" style="margin-top:5%;color:dimgray">
      <h4> Desarrollo de Software: Aplicaciones de  Escritorio, Web y Móvil</h4>
      <div style="text-align:justify;">
        <p>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.- Reduccion de gastos<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.- Ahorro de tiempo<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.- Personalizacion (software a la medida)<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.- Persistencia de datos<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5.- Soporte y mantenimiento<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6.- Ajustado a su presupuesto<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7.- Feelancer<br />
        </p>
      </div>
      <hr />
    </div>
     <br /><br />

    <div class="container" style="text-align:justify;margin-top: 22%">
      <p><br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hoy en día, las aplicaciones y diversos tipos de software a la medida se han convertido en la base
        tecnológica de las empresas modernas. Sin embargo, como toda nueva herramienta, el diseño de la estrategia así como la estandarización de procesos que permitan aprovechar al máximo estas modernas tecnologías
        dependen de la asesoría de un consultor experto en el desarrollo de este tipo de sistemas.
        Desde actualizar su imagen corporativa para hacerla atractiva e impactante, generar contenidos inteligentes hasta el desarrollo de sistemas y software para empresas.<br/>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Invertir en sistemas y software para empresas es invertir en eficiencia,
        ya que los beneficios que puede tener con este tipo de tecnologías digitales pueden no sólo mejorar sus procesos sino incrementar el desarrollo y los alcances de su empresa.
        Si se tiene un negocio referente a productos, un sistema puede no sólo auto administrar la atención al cliente sino también
        la parte de logística referente a inventarios, pedidos y envío de mercancía.<br />

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A partir de un registro de usuarios, el sistema genera una base de datos que le brinda el beneficio de saber cuántos clientes tiene hasta la fecha, definiendo en cada uno de ellos su perfil,
        como su historial de compra (para el manejo de descuentos por ser cliente frecuente) o datos que pueden ser de utilidad (cumpleaños, aniversario) para generar una buena relación cliente-empresa,
        enviando correos electrónicos a las cuentas de los usuarios para felicitarlos, enviarles la oferta del mes o para resolver sus dudas o contestar sus comentarios.
      </p>
    </div>
    <br />

    <div class="container-fluid row" style="" align="center">
      <img [src]="logoHtml" class="imgSkill" />
      <img [src]="logoNet" class="imgSkill" />
      <img [src]="logoJs" class="imgSkill" />
      <img [src]="logoCss" class="imgSkill" />
    </div>

  </div>
