


  <div class="container-fluid">
    <div style="font-size:45px;color:dimgray;text-align:center;"> Contáctanos </div>

    <div class="container formulario" id="formulario">

      <label class="form"> Nombre completo: </label>
      <input type="text" class="form-control" required [(ngModel)]="nombre" />

      <label class="form"> Cuenta de correo electronico: </label>
      <input type="email" class="form-control" required [(ngModel)]="email" />

      <label class="form"> Consulta o informacion: </label>
      <input type="text" class="form-control" required [(ngModel)]="asunto" />

      <label class="form"> Mensaje o descripcion: </label>
      <textarea id="mensaje" class="form form-control" rows="4" cols="50" maxlength="490" [(ngModel)]="mensaje" required ></textarea>

      <label class="checkbox-inline btn"><input type="checkbox" required class="btn btn-primary" [(ngModel)]="robot" />  No soy un robot </label><br />
      <button (click)="SendEmail();" class="form-control btn btn-success">Enviar Consulta</button>
      <br /><br />
    </div>

    <div style=" text-align: center;font-weight: bold; color:dimgray;">
      Calle Bruzual 107 - 35, Urb: Don Bosco. Sector: Candelaria
      Edo.Carabobo,  Valencia - Venezuela
    </div><br />

    <div align="center">
      <img [src]="mapa" class="imgLogo" />
      <img [src]="logo2" class="imgLogo" />
    </div>



  </div>
