
<div class="container-fluid">
  <div style="font-size:34px;color:dimgray;text-align:left;margin-top:8%;"> Autentificacion de Usuario</div>

  <label class="form">Email </label>
  <input type="email" id="email" class="form-control boxText" required [(ngModel)]="email" />

  <label class="form">Password </label>
  <input type="password" id="password" class="form-control boxText" required [(ngModel)]="password" />

  
  <div id="loading" class="loader" style="display:none;">
  </div>
  <div id="msg-process" style="font-size: 20px; text-align: center; padding: 15px; font-weight: bold; display: none;">
    Procesando...
    <div>  Esto puede tardar un minuto</div>
  </div>

  <label class="checkbox-inline btn"><input type="checkbox" required class="btn btn-primary" [(ngModel)]="robot" id="robot" />  No soy un robot </label><br />
  <button (click)="LoginValidated();" class="form-control btn btn-success  boxText">Enviar</button>
  <br /><br />
</div>
